body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

#beat {
  font-size: 30rem;
  text-align: center;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 6rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  border: none;
  border-radius: 8px;
  background-color: rgb(117, 116, 116);
  color: black;
  font-size: 4rem;
  padding: 1rem 2rem;
}

button.large {
  font-size: 5rem;
  padding: 2rem;
}

#bpm {
  min-width: 300px;
  font-size: 5rem;
  text-align: center;
  outline: none;
  border-bottom: 4px solid white;
  cursor: text;
}
